body {
  background-color: snow;
}

.container {
  width: 50%;
  margin: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /* mobile */
}

nav a:visited {
  color: blue;
}

.code-link {
  list-style: none;
}