body {
	background-color: #000000;
	color: #FDFDFD;
}

a {
	text-decoration: none;
	color: #FF69FF;
}

a:visited {
	color: #FF69FF;
}

.container {
	width: 75%;
	margin: auto;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

nav li {
	display: inline-block;
	margin: 0 7px;
}

.code-link {
	list-style: none;
}

pre {
  white-space: pre-wrap;
  tab-size: 2;
}

/* mobile + smaller screens */
@media (max-width: 600px) {
	.container {
		width: 100%;
	}

	/* nav ul {
		text-align: right;
	}

	nav li {
		display: block;
		margin: 10px 0;
	} */
}