h1 {
  text-align: center;
}
#smsContent {
  width: 94%;
  height: 150px;
  padding: 10px; 
  font-size: 16px;
	resize: none;
}

#optimizedContent {
  color: #50FA7B;
  font-size: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

#charCount {
  margin-top: 5px;
}

.warning-group-title {
  color: #FFB86C;
  margin-bottom: 5px; 
}

.warning {
  color: #FF5555;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Row layout */
#warnings {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.warning-group {
  flex: 1;
}