main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  text-align: center;
}

#smsContentInput,
#smsContentHighlighted {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#smsContentHighlighted {
  padding: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--dracula-comment);
  border-top: 1px solid var(--dracula-current-line);
  border-bottom: 1px solid var(--dracula-current-line);
}

.sms-content-input {
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
}

#smsContentInput {
  padding-bottom: 1.5rem;
}

#charCount {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.85rem;
}

#segmentCount {
  margin-left: 5px;
}

.highlighted-text {
  color: var(--dracula-orange);
  background-color: var(--dracula-background);
}

.warning {
  list-style: none;
  margin: 0 auto;
  max-width: 50rem;
}

.warning::before {
  content: "⚠️";
  margin-right: 0.5rem;
}

.warning .warning-type {
  color: var(--dracula-red);
}